dist
build/*
.eggs
__pycache__/
deb_dist/*
*/__pycache__/
dist/*
highctidh.egg-info/
*.o
*.pyc
*/*.pyc
*.so
*.a
*.swp
src/dist/*
src/deb_dist/*
src/libhighctidh/*
test1024
test2048
test511
test512
testrandom
docker_build_output/
src/example-ctidh*
m4/*
.dirstamp
.libs
*.lo
*.la
*.pc
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
stamp-h1
