build
dist
build/*
.eggs
__pycache__/
deb_dist/*
*/__pycache__/
dist/*
highctidh.egg-info/
*.o
*.pyc
*/*.pyc
*.so
*.a
*.swp
src/dist/*
src/deb_dist/*
src/build/*
src/libhighctidh/*
test1024
test2048
test511
test512
testrandom
docker_build_output/
src/example-ctidh*
/.pre-commit-config.yaml
/result
