name: Windows Golang build and test

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.OS }}
    strategy:
      matrix:
        OS: ["windows-2019", "windows-2022"]
        go-version: [ "1.19", "1.20", "1.21.x", "1.22.x"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Display Go version
        shell: bash
        run: go version

      - name: Install golang dependencies
        shell: bash
        run: |
          export HIGHCTIDH_PORTABLE=1
          export CGO_ENABLED=1
          go get -v ./src/ctidh511
          go get -v ./src/ctidh512
          go get -v ./src/ctidh1024
          go get -v ./src/ctidh2048

      - name: Build golang
        shell: bash
        run: |
          export HIGHCTIDH_PORTABLE=1
          export CGO_ENABLED=1
          export CGO_LDFLAGS="-DCGONUTS -ldflags=-linkmode=internal"
          go build -v ./...

      - name: Golang test
        shell: bash
        run: |
          export HIGHCTIDH_PORTABLE=1
          export CGO_ENABLED=1
          export CGO_LDFLAGS="-DCGONUTS -ldflags=-linkmode=internal"
          go test -v ./src/ctidh511;
          go test -v ./src/ctidh512;
          go test -v ./src/ctidh1024;
          go test -v ./src/ctidh2048;

